
NEXT_PUBLIC_API_URL=

NEXT_PUBLIC_BASE_SEPOLIA_RPC_URL=https://sepolia.base.org

NEXT_PUBLIC_MOMENT_GRID_ADDRESS=
NEXT_PUBLIC_INCO_GRID_STORE_ADDRESS=

NEXT_PUBLIC_ROUND_ID=1

NEXT_PUBLIC_REPLAY_SECONDS=120
